

/****** OCTAVOS ******/


#round2-left {
	/*line-height: 2.5em;*/
}

#round2-left {	
	
	border-left: 1px solid #000;
}

/****** CUARTOS ******/

#round3-left {
	/*line-height: 2.5em;*/
}

#round3-left {
	
	
	border-left: 1px solid #000;
}

/****** SEMIS ******/

#round4-left {
	line-height: 2.5em;
}

#round4-left {
	
	
	border-left: 1px solid #000;
}

/****** FINAL ******/


