<!-- partials/state2.html -->
<h1>Eliminatorias</h1>
<hr/>
<div ng-controller="MundialCtrl">
    <div ng-repeat="grupo in mundial.content.grupos">
        <h5>{{grupo.nombre}}</h5>
        <div class="row">                    
            <div class="col-md-4">                
                <ul>   
                    <li ng-repeat="equipo in grupo.pasan">                                            
                        {{equipo.id}} - {{findEquipo(equipo.id)}}
                    </li>     
                </ul>                    
            </div>            
        </div>
    </div>  
</div> 