<!doctype html>
<html ng-app="App">
    <head>
        <meta charset="UTF-8" />
        <title>Mundial 2014</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body>
        
        <div ng-controller="FinalCtrl">            
            
            <div ng-repeat="grupo in mundial.grupos">
                <h2>{{grupo.nombre}}</h2>
                <div class="row">                    
                    <div class="col-md-4">                
                        <ul>   
                            <li ng-repeat="partido in grupo.partidos">
                                
                                <div class="form-inline">                                
                                    
                                    <div class="form-group" >                                    
                                        <input type="number" class="form-control" ng-model="partido.golLocal">
                                        
                                    </div>
                                    <div class="form-group" >                                    
                                        
                                        <input type="number" class="form-control" ng-model="partido.golVisitante">
                                    </div>                                                             
                                </div>
                                
                            </li>     
                        </ul>                    
                    </div>
                    <div class="col-md-4" style="padding-top:30px">
                        <table class="table table-striped">
                            <tr>
                                <th> Equipo </th> 
                                <th> PJ </th> 
                                <th> G </th> 
                                <th> E </th> 
                                <th> P </th> 
                                <th> Gf </th> 
                                <th> Gc </th> 
                                <th> Puntos </th>
                            </tr>
                            <tr ng-repeat="equipo in grupo.equipos">
                                {{equipo.name}}
                            </tr>
                        </table>    
                    </div>
                </div>
            </div>  
        </div>              

    </body>
</html>