<!doctype html>
<html ng-app="App">
    <head>
        <meta charset="UTF-8" />
        <title>Mundial 2014</title>        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
        <script type="text/javascript" src="controller.js"></script>
    </head>
    <body>
        
        <div ng-controller="MundialCtrl">            
            
            <div ng-repeat="grupo in mundial.grupos">
                {{grupo.nombre}}
                <div>                
                    <ul>   
                        <li ng-repeat="partido in grupo.partidos">

                            <div>
                                {{partido.id}} - {{partido.local}} vs {{partido.visitante}}
                                {{findEquipo(partido.local)}} vs {{findEquipo(partido.visitante)}}
                                <div>
                                <input type="number" ng-model="partido.golLocal">
                                <input type="number" ng-model="partido.golVisitante">

                                </div>

                                                                
                            </div>
                            
                        </li>     
                    </ul>                    
                </div>
                <div>

                    <table>
                        <tr>
                            <th> Equipo </th> 
                            <th> PJ </th> 
                            <th> G </th> 
                            <th> E </th> 
                            <th> P </th> 
                            <th> Gf </th> 
                            <th> Gc </th> 
                            <th> Puntos </th>
                        </tr>
                        <tr ng-repeat="equipo in grupo.equipos">
                            <td> {{findEquipo(equipo.id)}} </td> 
                            <td> {{calculaPartidosJugados(equipo.id)}} </td> 
                            <th> {{calculaGanados(equipo.id)}} </td>
                            <th> {{calculaEmpatados(equipo.id)}} </td>
                            <th> {{calculaPerdidos(equipo.id)}} </td>
                            <th> {{calculaGolesFavor(equipo.id)}} </td>
                            <th> {{calculaGolesContra(equipo.id)}} </td>
                            <th> {{calculaPuntos(equipo.id)}} </td>
                        </tr>
                    </table>    
                </div>
            </div>
           
            
            
        </div>              

    </body>
</html>