<!-- partials/state2.html -->
<h1>Test 2</h1>
<hr/>
<div ng-controller="MundialCtrl">

    <div class="container">
        <div class="row">
        <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="control-label">1{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</label>
                        <div class="input-group"> 
                            <span class="input-group-addon">1º A</span>                     
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                        </div>
                    </div>                    
             </div>
                          
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="control-label">{{mundial.content.eliminatorias.cuartos[0].local}} {{mundial.content.eliminatorias.cuartos[0].nombreLocal}}</label>
                        <div class="input-group"> 
                            <span class="input-group-addon">W49</span>                     
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golVisitante">
                        </div>
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="control-label">{{mundial.content.eliminatorias.seeds[0].visitante}} {{mundial.content.eliminatorias.seeds[0].nombreVisitante}}</label>
                        <div class="input-group"> 
                            <span class="input-group-addon">2º B</span>                     
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golVisitante">
                        </div>
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
            <div class="col-md-2"></div>                                    
              
             <div class="col-md-2">
                    <div class="form-group">
                        <label for="" class="control-label">{{mundial.content.eliminatorias.seeds[0].visitante}} {{mundial.content.eliminatorias.seeds[0].nombreVisitante}}</label>
                        <div class="input-group"> 
                            <span class="input-group-addon">W57</span>                     
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golVisitante">
                        </div>
                    </div>                    
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
              <div class="col-md-2"></div>  
              <div class="col-md-2"></div>                                   
              
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                   
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
              <div class="col-md-2"></div>                                    
              
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                   
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div>

        <div class="row">
            <div class="col-md-2"> --------------------------------- </div> 
            <div class="col-md-2"> --------------------------------- </div> 
            <div class="col-md-2"> --------------------------------- </div> 
            <div class="col-md-2"> --------------------------------- </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
              <div class="col-md-2"></div>                                    
              
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                   
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
              <div class="col-md-2"></div>  
              <div class="col-md-2"></div>                                   
              
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                   
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div> 

        <div class="row">
            <div class="col-md-2"></div>
                                       
              <div class="col-md-2"></div>                                    
              
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                   
             </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>                
        </div>

        <div class="row">
            <div class="col-md-2">  </div>                                        
            
             <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>
                
        </div> 

        <div class="row">
            <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">{{mundial.content.eliminatorias.seeds[0].local}} {{mundial.content.eliminatorias.seeds[0].nombreLocal}}</span>                      
                        <input type="number" class="form-control" ng-model="mundial.content.eliminatorias.seeds[0].golLocal">
                    </div>                    
             </div>             
        </div>

        


    </div>

    <div ng-repeat="grupo in mundial.content.grupos">
        <h5>{{grupo.nombre}}</h5>
        <div class="row">                    
            <div class="col-md-4">                
                <ul>   
                    <li ng-repeat="equipo in grupo.pasan">                                            
                        {{equipo.id}} - {{findEquipo(equipo.id)}}
                    </li>     
                </ul>                    
            </div>            
        </div>
    </div>

    


</div> 