<!-- partials/state1.html -->
<h1>Fase de Grupos</h1>
<hr/>
<div ng-controller="MundialCtrl"> 
    <div ng-repeat="grupo in mundial.content.grupos">
        <h2>{{grupo.nombre}}</h2>
        <div class="row">                    
            <div class="col-md-4">                
                <ul>   
                    <li ng-repeat="partido in grupo.partidos">
                        <h5 equipo-bandera="partido.local"> </h5> <input type="number" ng-model="partido.golLocal"> 
                        vs <h5 equipo-bandera="partido.visitante"> </h5> <input type="number" ng-model="partido.golVisitante">
                        
                    </li>     
                </ul>                    
            </div>
            <div class="col-md-4" style="padding-top:30px">
                <table class="table table-striped">
                    <tr>
                        <th> Equipo </th> 
                        <th> PJ </th> 
                        <th> G </th> 
                        <th> E </th> 
                        <th> P </th> 
                        <th> Gf </th> 
                        <th> Gc </th> 
                        <th> Puntos </th>
                        
                    </tr>
                    <tr ng-repeat="equipo in grupo.equipos">
                        <td equipo-bandera="equipo.id"> {{findEquipo(equipo.id)}} </td> 
                        <td> {{calculaPartidosJugados(equipo.id)}} </td> 
                        <td> {{calculaGanados(equipo.id)}} </td>
                        <td> {{calculaEmpatados(equipo.id)}} </td>
                        <td> {{calculaPerdidos(equipo.id)}} </td>
                        <td> {{calculaGolesFavor(equipo.id)}} </td>
                        <td> {{calculaGolesContra(equipo.id)}} </td>
                        <td> {{calculaPuntos(equipo.id)}} </td>
                        
                    </tr>
                    
                </table>
                Pasan los siguientes equipos:
                <ol>
                <div ng-repeat="team in grupo.pasan">
                        <li>{{findEquipo(team.id)}}</li>
                </div>   
                </ol>
            </div>
        </div>
    </div>  
</div> 